---
layout: default
---

<div class="posts">
  <h2>{{"Outreachy Internship Experiences"}}</h2>
  <hr color="#D4D1D6" NOSHADE>
  <h6 ><span style="font-weight:normal"><p style="color:rgb(81, 95, 104)""> <a href="https://www.outreachy.org/">Outreachy '21 Intern</a> under the <a href="https://git-scm.com/">Git project</a>. This blog series constists of my weekly Outreachy project updates... </p><span></h6>

  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    <div class="date">
        Written on {{ post.date | date: "%B %e, %Y" }}
      </div>

    </article>
    {% include paginator.html %}
  {% endfor %}
  
  <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/blog/" | relative_url }}">View All Posts &rarr;</a>
  </div>

</div>
